/* GENERAL */
* {
    color: rgba(255, 255, 255, .8);
}
.ocultar {
    display: none;
}

.header1 a{
    text-decoration: none;
}

/* HEADER */
.header1 div {
    display: inline-block;
}
/* LOGO */
    .logoCh {
        display: inline-block;
        width: 5%;
    }
    .logoCh > img {
        height: 100%;
        width: 100%;
    }
    .nomTit {
        width: 50%;
        align-items: center;
    }
    /* Herramientas del Usuario */.herUsu {
        width: 15%;
    }
    /* Iconos de herramientas para el usuario */
    .herUsu > div {
        width: 30%;
        background: rgba(255, 255, 255, .8);
        border-radius: 2rem;
        padding: 0.6rem;
        cursor: pointer;
        font-size: 1.4rem;
    }
    /* Imagen que abarca al icono del usuario */
    #iconUsuario > img {
        width: 100%;
        height: 100%;
    }

/* MAIN */
/* general */
input, textarea, label[for="horImg"] {
    background: rgba(0, 0, 0, .6);
    border:none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    outline: none;
}

/* Formulario */
    .secInp1 > input, .secInp1 > textarea, label[for="horImg"] {
        width: 48%;
        display: inline-block;
    }
    label[for="horImg"]{
        height: 8rem;
        border: 0.4rem dashed rgba(255, 255, 255, .8);
        font-size: 5rem;
    }
    .secInp1 > input[type=file] {
        display: none;
    }


    /* Filtros */
    .listOpc {
        display: inline-block;
        position: relative;
    }
    .listOpc > div {
        border-radius: 0rem 0rem 1rem 1rem;
        overflow: hidden;
        overflow-y: auto;
        outline: none;
        display: none;
    }
    .listOpc:hover > div {
        display: block;
    }
    .listDespl {
        position: absolute;
        z-index: 10;
        left: 0.5rem;
        top: 1.8rem;
        border: none;
    }
    .listOpc button {
        background: linear-gradient(#3A0000 35%,#000);
        border: none;
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        position: relative;
        z-index: 20;
        cursor: pointer;
    }
    /* Filtro por botón */
    #geneInfoPanel:hover > #genero, #duraMInfoPanel:hover > #duraM, #duraCInfoPanel:hover > #duraC, #demogInfoPanel:hover > #demografia {
        display: block;
    }
    .listOpc button.editar {
        width: 100%;
        border-radius: 0;
        background: rgba(255, 255, 255, .8);
        color: #000;
        transition: all 0.2s ease-in-out;
    }
    .listOpc button.editar:hover {
        background: #000;
        color: rgba(255, 255, 255, .8);
    }
    /* formulario oculto de las listas desplegables */
    .opcListDespl button, .opcListDespl input[type=text] {
        display: inline-block;
    }
    .listEdi {
        position: absolute;
        top: 0;
        background: #000;
        height: 100%;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        z-index: 30;
    }
    /* Icono para el input de Emisión */
    .emision {
        position: relative;
    }
    input[type=checkbox].toggle + label::before {
        content: '';
        cursor: pointer;
        display: inline-block;
        position: absolute;
        width: 4rem;
        height: 2rem;
        background: #830000;
        border: 0.2rem solid rgba(255, 255, 255, .8);
        border-radius: 2rem;
        transform: translateX(120%);
        transition: all 0.3s ease-in-out;
    }
    input[type=checkbox].toggle + label::after {
        content: '';
        cursor: pointer;
        display: inline-block;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background: #ccc;
        border-radius: 2rem;
        transform: translate(30%, 25%);
        transition: all 0.3s ease-in-out;
    }
    input#emision:checked ~ label[for="emision"]::before {
        background: #165E0C;
    }
    input[type=checkbox].toggle:checked + label::after {
        transform: translate(180%, 25%);
        background: rgba(255, 255, 255, .8);
    }
    textarea {
        resize: none;
    }