/*GENERAL */
* {
    color: var(--texto1);
}
.ocultar {
    display: none;
}

/* HEADER */
/* LOGO */
    .logoCh {
        display: flex;
        height: 100%;
        align-items: center;
        text-decoration: none;
    }
    .logoCh > img {
        height: 100%;
        width: 100%;
    }

/* MAIN */
main {
    padding: 1rem 0;
}
/* Tamaño del formulario */
    .formAgrAnim {
        width: 95%;
    }
/* general */ 
input, textarea, label[for="horImg"] {
    background: var(--fondoT);
    border:none;
    padding: 0rem 1.5rem;
    border-radius: 1.5rem;
    outline: none;
}

/* Formulario */ 
    .secInp1 {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 50% auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
        margin-bottom: 1rem;
    }
    label[for="horImg"]{
        border: 0.4rem dashed var(--texto1);
        font-size: 5rem;
        grid-row: 1 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        aspect-ratio: 16 / 9;
    }
    .secInp1 > input[type=file] {
        display: none;
    }


    /* Filtros */
    .listOpc {
        display: inline-block;
        position: relative;
    }
    .listOpc > div {
        border-radius: 0rem 0rem 1rem 1rem;
        overflow: hidden;
        overflow-y: auto;
        outline: none;
        display: none;
    }
    .listOpc:hover > div {
        display: block;
    }
    .listDespl {
        position: absolute;
        z-index: 10;
        left: 0.5rem;
        top: 1.8rem;
        border: none;
    }
    .listOpc button {
        background: linear-gradient(var(--color1) 35%,var(--fondo));
        border: none;
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        position: relative;
        z-index: 20;
        cursor: pointer;
    }
    /* Filtro por botón */
    #geneInfoPanel:hover > #genero, #duraMInfoPanel:hover > #duraM, #duraCInfoPanel:hover > #duraC, #demogInfoPanel:hover > #demografia {
        display: block;
    }
    .listOpc button.editar {
        width: 100%;
        border-radius: 0;
        background: var(--texto1);
        color: var(--texto2);
        transition: all 0.2s ease-in-out;
    }
    .listOpc button.editar:hover {
        background: var(--texto2);
        color: var(--texto1);
    }
    
    /* Icono para el input de Emisión */
    .emision {
        position: relative;
    }
    input[type=checkbox].toggle + label::before {
        content: '';
        cursor: pointer;
        position: absolute;
        width: 4rem;
        height: 2rem;
        background: #830000;
        border: 0.2rem solid rgba(255, 255, 255, .8);
        border-radius: 2rem;
        transform: translate(130%, -20%);
        transition: background 0.3s ease-in-out;
    }
    input[type=checkbox].toggle + label::after {
        content: '';
        cursor: pointer;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background: #ccc;
        border-radius: 2rem;
        transform: translate(60%, -5%);
        transition: transform 0.3s ease-in-out;
    }
    input#emision:checked ~ label[for="emision"]::before {
        background: #165E0C;
    }
    input[type=checkbox].toggle:checked + label::after {
        transform: translate(200%, -5%);
        background: rgba(255, 255, 255, 1);
    }

    /* Estilo general para las textarea */
    textarea {
        resize: none;
    }

    .secInp2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .secInp2 > label[for="emision"] {
        margin-right: 5rem;
    }

    /* Estilos para la sección de las temporadas */
    /* Header donde está el nombre de la temporada más algunos datos más */
    .titTemp {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(180deg, var(--headerABC) 23%, var(--fondo));
        padding: 0.5rem 1.2rem;
        border-radius: 1rem;
        gap: 2rem;
        align-items: center;
    }
    /* Icono para agarrar la temporada */
    #movTemp {
        cursor: pointer;
    }
    /* Input del título de la temporada */
    .titTemp > input {
        flex-grow: 1;
        background: none;
        font-size: 1.2rem;
    }
        /* Una caja normal que tiene lo de aumentar los capítulos */
        .flex {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        .flex > div {
            display: flex;
            width: 6rem;
            border-radius: 1rem;
            overflow: hidden;
        }
        .flex > div > input {
            width: 100%;
            padding: 0;
            text-align: center;
            border-radius: 0;
            background: var(--fondoNum);
        }
        .flex > div > button {
            border: none;
            padding: 0.2rem 0.5rem;
            background: var(--fondoNumBtn);
            cursor: pointer;
        }
    /* Botón para eliminar la temporada completa */
    button.eliminar {
        background: #830000;
        padding: 0.5rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
    }
    /* Botón para desglozar */
    .visCap {
        font-size: 1.5rem;
        cursor: pointer;
    }
    /* Contenedor que debería de desplegarse */
    .contGen {
        padding: 0 1rem;
        overflow: hidden;
        max-height: 30rem;
    }
        /* Contenedor de la información de la temporada */
        .contInfoCaps {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding: 0 0.5rem;
            background: var(--fondo);
            height: 26rem;
        }
            /* Contenedor de los items y botones de los capítulos */
            .contListGen {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                position: relative;
            }
            /* Cajas de desvanecimiento */
            .desvTop, .desvBott {
                position: absolute;
                height: 5rem;
                width: 100%;
                opacity: 1;
                pointer-events: none;
            }
            .desvTop {
                background: linear-gradient(var(--fondo), transparent);
            }
            .desvBott {
                background: linear-gradient(transparent, var(--fondo));
                bottom: 2rem;
            }
                /* Contenedor de los items de los capítulos */
                .contListCaps {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    overflow-y: auto;
                }
                    /* Estilos de los items capítulos */
                    .capitulo {
                        background: var(--fondoItemCap);
                        display: flex;
                        justify-content: space-between;
                        border-radius: 1rem;
                        padding: 0.4rem 1rem;
                        align-items: center;
                        gap: 1rem;
                    }
                        /* Estilos de las cosas dentro de los items */
                        .capitulo > span {
                            cursor: pointer;
                        }
                        .capitulo > input {
                            flex-grow: 1;
                            background: none;
                            font-size: 1.2rem;
                        }
            /* Botón para agregar capítulos */
            .contListGen > button {
                background: none;
                padding: 0.5rem;
                border: none;
                cursor: pointer;
            }
            /* Estilos para el input de la imagen */
            .imgTem > label {
                display: flex;
                justify-content: center;
                align-items: center;
                border: dashed 0.4rem;
                height: 100%;
                aspect-ratio: 9/14;
                border-radius: 0.8rem;
                font-size: 4rem;
                cursor: pointer;
            }
    /* Botón para agregar otra temporada */
    .infoTempAnime > button {
        display: flex;
        border: solid 0.4rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: none;
        width: 100%;
        margin-top: 2rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
/* Ultima parte del formulario */
.ultInfo {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto 70%;
    gap: 0.6rem;
}
    /* Estilo de la textarea "Etiquetas" */
    .ultInfo > textarea {
        grid-row: 1 / 3;
        border: solid 0.4rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
    }
    /* Estilo del botón de guardar */
    .ultInfo > button {
        border: none;
        background: #063804;
        border-radius: 0.8rem;
        font-size: 1.2rem;
    }