/*GENERAL */
* {
    color: rgba(255, 255, 255, .8);
}
.ocultar {
    display: none;
}

/* HEADER */
/* LOGO */
    .logoCh {
        display: flex;
        height: 100%;
        align-items: center;
        text-decoration: none;
    }
    .logoCh > img {
        height: 100%;
        width: 100%;
    }

/* MAIN */
main {
    padding: 1rem 0;
}
/* Tamaño del formulario */
    .formAgrAnim {
        width: 95%;
    }
/* general */ 
input, textarea, label[for="horImg"] {
    background: rgba(0, 0, 0, .6);
    border:none;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    outline: none;
}

/* Formulario */ 
    .secInp1 {
        display: grid;
        gap: 0.6rem;
        grid-template-columns: 50% auto;
        grid-template-rows: 1fr 1fr 1fr 5fr;
        margin-bottom: 1rem;
    }
    label[for="horImg"]{
        border: 0.4rem dashed rgba(255, 255, 255, .8);
        font-size: 5rem;
        grid-row: 1 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        aspect-ratio: 16 / 9;
    }
    .secInp1 > input[type=file] {
        display: none;
    }


    /* Filtros */
    .listOpc {
        display: inline-block;
        position: relative;
    }
    .listOpc > div {
        border-radius: 0rem 0rem 1rem 1rem;
        overflow: hidden;
        overflow-y: auto;
        outline: none;
        display: none;
    }
    .listOpc:hover > div {
        display: block;
    }
    .listDespl {
        position: absolute;
        z-index: 10;
        left: 0.5rem;
        top: 1.8rem;
        border: none;
    }
    .listOpc button {
        background: linear-gradient(#3A0000 35%,#000);
        border: none;
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        position: relative;
        z-index: 20;
        cursor: pointer;
    }
    /* Filtro por botón */
    #geneInfoPanel:hover > #genero, #duraMInfoPanel:hover > #duraM, #duraCInfoPanel:hover > #duraC, #demogInfoPanel:hover > #demografia {
        display: block;
    }
    .listOpc button.editar {
        width: 100%;
        border-radius: 0;
        background: rgba(255, 255, 255, .8);
        color: #000;
        transition: all 0.2s ease-in-out;
    }
    .listOpc button.editar:hover {
        background: #000;
        color: rgba(255, 255, 255, .8);
    }
    /* formulario oculto de las listas desplegables 
    .opcListDespl button, .opcListDespl input[type=text] {
        display: inline-block;
    }
    .listEdi {
        position: absolute;
        top: 0;
        background: #000;
        height: 100%;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        z-index: 30;
    }
    /* Icono para el input de Emisión */
    .emision {
        position: relative;
    }
    input[type=checkbox].toggle + label::before {
        content: '';
        cursor: pointer;
        position: absolute;
        width: 4rem;
        height: 2rem;
        background: #830000;
        border: 0.2rem solid rgba(255, 255, 255, .8);
        border-radius: 2rem;
        transform: translate(130%, -20%);
        transition: background 0.3s ease-in-out;
    }
    input[type=checkbox].toggle + label::after {
        content: '';
        cursor: pointer;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background: #ccc;
        border-radius: 2rem;
        transform: translate(60%, -5%);
        transition: transform 0.3s ease-in-out;
    }
    input#emision:checked ~ label[for="emision"]::before {
        background: #165E0C;
    }
    input[type=checkbox].toggle:checked + label::after {
        transform: translate(200%, -5%);
        background: rgba(255, 255, 255, 1);
    }
    textarea {
        resize: none;
    }

    .secInp2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .secInp2 > label[for="emision"] {
        margin-right: 5rem;
    }
