/* Estilos del header */
.header1 {
    color: var(--texto1);
    padding: 0.6rem 5%;
}
    a.logoCh {
        display: flex;
        height: 100%;
        align-items: center;
        color: var(--texto1);
        text-decoration: none;
    }
    .logoCh > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Estilos del main */
main {
    padding: 1rem 5%;
    overflow-y: auto;
    height: calc(100vh - 4.5rem);
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
    /* Estilos del formulario */
    /* Estilos que engloban los inputs del formulario */
    .infoSaga {
        display: grid;
        grid-template-columns: 4fr 3fr 5fr;
        grid-template-rows: auto 1fr;
        gap: 0.6rem;
    }
    .infoSaga > input[type="file"] {
        display: none;
    }
    #duraCaps {
        background: linear-gradient(180deg, var(--color1) 30%, var(--fondo));
    }
    #duraCaps > option {
        background: var(--fondo);
    }
    .infoSaga > label {
        grid-column: 3;
        grid-row: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.4rem dashed var(--texto1);
        cursor: pointer;
        font-size: 6rem;
        aspect-ratio: 16 / 9;
        transition: background 0.1s ease-in;
    }
    .infoSaga > label:hover {
        background: rgba(32, 32, 32, .8);
    }
    /* Bordes redondeados */
    .infoSaga > label, .infoSaga > input, .infoSaga > textarea, .infoSaga > select {
        border-radius: 1rem;
        color: var(--texto1);
        padding: 0.4rem 1rem;
        background: var(--fondoT);
    }

    /* Sin bordes */
    .infoSaga > input, .infoSaga > textarea, .infoSaga > select {
        border: none;
    }
    .infoSaga textarea {
        resize: none;
    }

    /* Contenedor de todas las líneas de tiempo */
    .contenLT {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    /* Contenedor de la Línea del Tiempo */
    .LT {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: var(--fondoT);
        align-items: center;
        padding: 0.8rem 1.6rem;
        position: relative;
        border-radius: 1.4rem;
        border: 0.2rem solid var(--texto1);
    }
        /* Título de la Línea del Tiempo */
        .LT > input {
            background: none;
            border-width: 0 0 0.1rem;
            width: 50%;
            padding: 0.4rem;
            text-align: center;
            outline: none;
            color: var(--texto1);
        }
        /* Contenedor de los animes y sagas */
        .all {
            width: 100%;
            padding: 0.6rem;
            border: 0.4rem solid var(--texto1);
            border-radius: 1.6rem;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
            /* Buscador de sagas y animes */
            .buscadorAS{
                width: 35%;
                border-bottom: 0.2rem solid var(--texto1);
                display: flex;
                padding: 0.4rem;
            }
                .buscadorAS > input {
                    flex: 1;
                    outline: none;
                }
                .buscadorAS > input, .buscadorAS > button {
                    background: none;
                    border: none;
                    color: var(--texto1);
                }
                .buscadorAS > button {
                    cursor: pointer;
                }
            /* Instrucciones */
            .all > span {
                color: var(--texto1);
                position: absolute;
                right: 1rem;
                top: 1.2rem;
                font-size: 1.2rem;
            }
            /* Contenedor de las sagas y animes */
            .aniSag {
                display: flex;
                overflow-x: auto;
                gap: 1rem;
                padding-bottom: 0.4rem;
            }
                /* Sagas y animes */
                .aniSag > .portadaS, .listaOrdena > .portadaS {
                    flex: 0 0 auto;
                    width: 20%;
                    cursor: pointer;
                    position: relative;
                }
                    .portadaS > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .aniSag > .portadaS > span, .listaOrdena > .portadaS > span {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        z-index: 50;
                        left: 0;
                        background: var(--fondoT);
                        color: var(--texto1);
                        padding: 0.2rem 0.8rem;
                        transition: background 0.3s ease, color 0.3s ease;
                    }
                    .aniSag > .portadaS:hover > span, .listaOrdena > .portadaS:hover > span {
                        background: #000;
                        color: #fff;
                    }
        /* Contenedor de la Línea de Tiempo definitiva */
        .soloLT {
            display: flex;
            flex-direction: column;
            border: 0.1rem solid var(--texto1);
            width: 100%;
            border-radius: 1rem;
            position: relative;
            padding: 2rem 0.4rem;
            overflow: hidden;
        }
            /* Adornos */
            .soloLT > span{
                height: 1.6rem;
                background: #084f08;
                color: #0f0;
                font-size: 1.4rem;
                position: absolute;
                left: -1rem;
                width: 110%;
                letter-spacing: 0.4rem;
            }
            .soloLT > span:first-child {
                top: 0;
            }
            .soloLT > span:last-child {
                bottom: 0;
            }
            /* Contenedor de los Animes y sagas que estén dentro de la línea del tiempo */
                .listaOrdena {
                    display: flex;
                    overflow-x: auto;
                    gap: 1rem;
                    width: 100%;
                    padding-bottom: 0.8rem;
                }
                .listaOrdena > .portadaS {
                    width: 24%;
                }
                    /* Botón para eliminar */
                    .portadaS > button {
                        font-size: 1.2rem;
                    }
        .eliminarLT {
            border: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 0.4rem;
            background: #d60000;
            color: var(--texto1);
        }
        .eliminarLT:hover {
            background: #a60000;
        }
        .LT > .mover {
            color: var(--texto1);
            position: absolute;
            left: 1rem;
            top: 1rem;
            font-size: 1.8rem;
            cursor: pointer;
        }
    .btn-agreLT {
        background: none;
        width: 40%;
        text-align: center;
        color: var(--texto1);
        border: 0.2rem solid var(--texto1);
        padding: 0.6rem 1.2rem;
        display: inline-block;
        border-radius: .8rem;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: background 0.2s ease, color 0.2s ease;
    }
    .btn-agreLT:hover {
        background: var(--texto1);
        color: var(--fondoT);
    }
    .guardarLT {
        position: relative;
        bottom: 5rem;
        left: 60%;
        width: 40%;
        background: var(--fondoItemCap2);
        color: var(--texto1);
        cursor: pointer;
        padding: 0.8rem;
        border-radius: 1rem;
        border: none;
        transition: background 0.3s ease-in-out;
    }
    .guardarLT:hover {
        background: var(--fondo);
    }