/* Ocultar todos los checkbox que tiene el sitio web */
input[type=checkbox], input[type=radio] {
    display: none;
}
input[type=checkbox]:not(.toggle) + label, input[type=radio] + label {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.2rem 0.5rem;
}

/* Otro más para la imagen de usuario en el Aside: #011500 */
.iconUsuAside, #iconUsuario {
    background: #011500;
}

/* Color café */
.masCaps {
    background: #692E04;
    border: none;
}