*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    font-size: 100%;
    font-weight: bold;
}

/* color del background de los portales */
.main-portal{
    background: #00113C;
    height: 100vh;
}

/* colores primarios = azul:#00113C       rojo:#3A0000 */
.header1 {
    background: #3A0000;
}

/* Otro color más: #471E01 */
.header2{
    background: #471E01;
}

/* Otro más para la imagen de usuario en el Aside: #011500 */
.iconUsuAside {
    background: #011500;
}
/* Otro más para el fondo de los nombres de cada anime, aunque chance este si e quede como predeterminado */
.anime > span, .eliminarA {
    background: rgba(0,0,0,.8);
}
#infoPanel select {
    background: #000;
}
/* Otro más para el color de botón del buscador color: rgba(255, 255, 255, .6) */
#formBusc > button{
    background: rgba(255, 255, 255, .6);
}
/* Color del contorno de los portales */
.logoRol {
    border-color: rgba(255, 255, 255, .5);
}
.rol {
    color: rgba(255, 255, 255, .5);
}
/* colores del espectador */
.espectador {
    background: #063804;
}
.editor {
    background: #3A0000;
}
/* Color café */
.masCaps {
    background: #692E04;
    border: none;
}

/* Main del editor */
main {
    background: #00113C;
    padding: 1rem 3rem;
}