/* colores primarios = azul:       rojo:#3A0000 */
.header1 {
    background: #3A0000;
}

/* Otro color más: #471E01 */
.header2{
    background: #471E01;
}

/* Otro más para la imagen de usuario en el Aside: #011500 */
.iconUsuAside {
    background: #011500;
}
/* Otro más para el fondo de los nombres de cada anime, aunque chance este si e quede como predeterminado */
.anime > span, .eliminarA {
    background: #000;
}
#infoPanel select {
    background: #000;
}
/* Otro más para el color de botón del buscador color: rgba(255, 255, 255, .6) */
#formBusc > button{
    background: rgba(255, 255, 255, .6);
}