/* GENERALES */
/* Desplegables */
.filtros > div > button::after, .listOpc > button::after{
    font: var(--fa-font-solid);
    content: "\f0d7";
    margin-left: 0.6rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
/* flechas que rotan */
.filtros > div:hover > button::after, .listOpc:hover > button::after{
    transform: rotate(-180deg);
}
/* Checkbox antes de todos los label */
input[type=checkbox]:not(.toggle) + label::before {
    font: var(--fa-font-regular);
    content: "\f0c8";
    margin-right: 0.6rem;
    display: inline-block;
}
input[type=checkbox]:not(.toggle):checked + label::before {
    font: var(--fa-font-solid);
    content: "\f14a";
    margin-right: 0.6rem;
    display: inline-block;
    color: #1BDA00;
}
/* RadioButtons antes de todos los label */
input[type=radio] + label::before {
    font: var(--fa-font-regular);
    content: "\f111";
    margin-right: 0.6rem;
    display: inline-block;
}
input[type=radio]:checked + label::before {
    font: var(--fa-font-solid);
    content: "\f058";
    margin-right: 0.6rem;
    display: inline-block;
    color: #1BDA00;
}

/* MENÚ EDITOR */
.film::before {
    font: var(--fa-font-solid);
    content: "\e131";
    margin-right: 0.6rem;
}
.list::before {
    font: var(--fa-font-solid);
    content: "\f00b";
    margin-right: 0.6rem;
}
.photo-film::before {
    font: var(--fa-font-solid);
    content: "\f87c";
    margin-right: 0.6rem;
}
.arrows-rotate::before {
    font: var(--fa-font-solid);
    content: "\f021";
    margin-right: 0.6rem;
}
.comments::before {
    font: var(--fa-font-regular);
    content: "\f086";
    margin-right: 0.6rem;
}
.clock-rotate::before {
    font: var(--fa-font-solid);
    content: "\f1da";
    margin-right: 0.6rem;
}

/* AGREGAR ANIME */
.logoCh::before {
    font: var(--fa-font-solid);
    content: "\f0d9";
    margin-right: .5rem;
    font-size: 1.6rem;
    transition: margin-right 0.2s ease-in;
}
.logoCh:hover::before {
    margin-right: 1rem;
}
.editar::before {
    font: var(--fa-font-solid);
    content: "\f303";
    margin-right: 0.6rem;
}
.contListGen > button::before, .infoTempAnime > button::before, .btnAgreEdiCap::before, .btnsExtra > button::before, .btn-agreLT::before {
    font: var(--fa-font-solid);
    content: "\2b";
    margin-right: 0.6rem;
}
.ultInfo > button::before, .infoCaps > button::before, .guardarLT::before {
    font: var(--fa-font-regular);
    content: "\f0c7";
    margin-right: 0.6rem;
}