body {
    background: linear-gradient(var(--color2) 20%, var(--fondo) 100%);
    min-height: 100vh;
}
/* Main del editor */
main {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: calc(100vh - 6.7rem);
}
/* GENERAL */
aside a, aside > span {
    display: block;
}
.header2 a, aside a , .agreAni, .anime, .agreSaga, .saga{
    text-decoration: none;
}
/* HEADER */
.header1 {
    background: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 4.5rem;
    padding: 0 3rem;
}
    /* LOGO */
    .logo {
        width: 20%;
    }
        /* IMG DEL LOGO */
        .logo > img {
            width: 100%;
            height: 100%;
        }
    /* BUSCADOR */
    #formBusc {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* Input para el buscador */
        #buscador {
            background: none;
            border: none;
            width: 60%;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: bold;
            border-bottom: 2px solid var(--texto1);
        }
        /* Botón para el buscador */
        #formBusc > button {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            border: none;
            border-radius: 0 1rem 1rem 0;
            width: 10%;
            cursor: pointer;
            background: var(--texto1);
            transition: background 0.1s ease-in-out;
        }
        #formBusc > button:hover {
            background: rgba(255,255,255);
        }
    .herUsu {
        width: 10%;
        display: flex;
        justify-content: space-evenly;
    }
    /* Iconos de herramientas para el usuario */
    .herUsu > div {
        width: 30%;
        display: flex;
        aspect-ratio: 1/1;
        justify-content: center;
        align-items: center;
        color: var(--texto1);
        border-radius: 2rem;
        overflow: hidden;
        cursor: pointer;
        font-size: 1.4rem;
        transition: background 0.1s ease-in-out;
    }
    .herUsu > div:hover {
        background: var(--texto1);
        color: var(--texto2);
    }
    /* Imagen que abarca al icono del usuario */
    #iconUsuario > img {
        width: 100%;
        height: 100%;
    }

/* #Header2  */
.header2 {
    background: var(--headerABC);
}
.header2 ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.header2 a {
    color: var(--texto1);
}

/* Main */
    /* ASIDE */
    aside {
        display: flex;
        flex-direction: column;
        position: relative;
        height: calc(100% - 4rem);
        width: 18%;
        border-radius: 2.2rem;
        top: 4rem;
        background: linear-gradient(var(--color1), var(--fondo));
    }
    aside, aside a {
        color: var(--texto1);
    }
        .espacio {
            height: 6rem;
            position: relative;
            display: flex;
            justify-content: center;
        }
        /* Icono de la imagen */
        .iconUsuAside {
            display: flex;
            aspect-ratio: 1/1;
            width: 75%;
            border-radius: 100%;
            position: absolute;
            bottom: 0;
        }
        .iconUsuAside img {
            width: 100%;
            height: 100%;
            clip-path: circle(50%);
        }

        /* Texto span del aside */
        aside span {
            text-align: center;
        }
        #nomUsuAside {
            font-size: 1.1rem;
        }

        /* Links del aside */
        aside a {
            padding: 0.4rem 1rem;
            position: relative;
            left: 0;
            transition: all 0.3s ease-in-out;
        }
        aside a:hover {
            border-left: 0.4rem solid var(--btnMenu1);
            background: var(--btnMenu2);
            left: -2.5rem;
            border-radius: 0rem 0.4rem 0.4rem 0rem;
        }
    
    /* Section */
    #infoPanel {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0.2rem;
        padding: 0.6rem;
        height: 100%;
    }
    #infoPanel > div {
        display: flex;
        justify-content: space-between;
    }
    #infoPanel select {
        border: none;
    }
    #infoPanel select, .listDespl{
        background: var(--fondo);
    }
    section {
        width: 72%;
    }
    h2 {
        color: var(--texto1);
        font-size: 1.6rem;
    }
    /* Filtros */
        .filtros {
            display: flex;
            gap: 1rem;
        }
        .filtros select, .filtros button {
            color: var(--texto1);
        }
        
        .div-desplegable{
            position: absolute;
            z-index: 10;
            left: 0.5rem;
            top: 1.8rem;
            max-height: 0rem;
            box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
            border-radius: 0rem 0rem 1rem 1rem;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
        }
        .filtros select {
            padding: 0.4rem 0.6rem;
            overflow: hidden;
            overflow-y: auto;
            outline: none;
        }
        .filtros button {
            background: linear-gradient(var(--color1) 35%, var(--fondo));
            border: none;
            padding: 0.4rem 0.8rem;
            border-radius: 1rem;
            position: relative;
            z-index: 20;
            cursor: pointer;
        }
        .filtros > div {
            position: relative;
        }
        /* Filtro por botón */
        #geneInfoPanel:hover > div, #duraMInfoPanel:hover > div, #duraCInfoPanel:hover > div, #demogInfoPanel:hover > div {
            max-height: 20rem;
        }
        select option {
            transition: all 0.1s ease-in-out;
        }
        select option:hover {
            background: var(--texto1);
            color: var(--texto2);
        }
    /* Portadas de Anime */
    .animesSubidos {
        display: grid !important;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
    .agreAni, .agreSaga {
        display: flex;
        background: var(--agregar);
        color: var(--texto1);
        font-size: 4rem;
        justify-content: center;
        align-items: center;
    }
    .agreAni, .agreAni * , .agreSaga, .agreSaga *{
        transition: all 0.1s ease-in-out;
    }
    .agreAni:hover, .agreSaga:hover {
        background: var(--texto1);
        color: var(--agregar);
    }
    .agreAni:hover > span, .agreSaga:hover > span {
        transform: scale(1.5);
    }
    .agreAni, .portadaA {
        width: 7.5rem;
        aspect-ratio: 9/14;
        border-radius: 0.4rem;
        overflow: hidden;
    }
    .agreSaga, .portadaS {
        border-radius: 0.4rem;
        overflow: hidden;
        aspect-ratio: 16/9;
    }
    .portadaA, .portadaS {
        position: relative;
    }
    .anime, .saga {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .anime > img, .saga > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Otro más para el fondo de los nombres de cada anime, aunque chance este si se quede como predeterminado */
    .anime > span, .eliminarA {
        background: var(--fondoT);
    }
    .saga > span {
        background: rgba(80,0,0,0.94);
    }
    .anime > span, .saga > span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: var(--texto1);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.2rem 0.6rem;
        max-height: 1.6rem;
        transition: all 0.3s ease-in-out;
    }
    .anime:hover > span, .saga:hover > span {
        background: #000;
        color: #fff;
        white-space: normal;
        max-height: 7rem;
    }
    .eliminarA {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        color: var(--texto1);
        padding: 0.6rem;
        border-radius: 0rem 0rem 0rem 0.4rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    } 
    .eliminarA > span {
        transition: all 0.1s ease-in-out;
    }
    .eliminarA:hover {
        background: #600;
        color: #fff;
    }
    .eliminarA:hover > span {
        transform: scale(1.2);
    }

    .paginador {
        justify-content: center !important;
        height: 1.8rem;
        color: var(--texto1);
        font-size: 0.6rem;
        align-items: center;
        gap: 2rem;
    }
    .pag {
        opacity: 0.6;
        cursor: pointer;
    }
    .pag-active {
        opacity: 1;
    }
    
    /* Bordes */
    .panelControl, .iconUsuAside {
        border: 0.5rem solid var(--fondo);
    }

    /* Estilos para las sagas */
    div.sagasSubidas {
        flex-grow: 1;
        display: grid !important;
        grid-template-columns: auto auto auto auto;
        gap: 0.5rem;
    }