/* GENERAL */
.logo, #formBusc, .herUsu, .herUsu > div, .header2 li, .panelControl, aside, section, #infoPanel div, .agreAni, .anime{
    display: inline-block;
}
aside a, aside > span {
    display: block;
}
.header2 a, aside a , .agreAni, .anime{
    text-decoration: none;
}
/* HEADER */
    /* LOGO */
    .logo {
        width: 20%;
    }
        /* IMG DEL LOGO */
        .logo > img {
            width: 100%;
            height: 100%;
        }
    /* BUSCADOR */
    #formBusc {
        width: 60%;
    }
        /* Input para el buscador */
        #buscador {
            background: none;
            border: none;
            width: 60%;
            padding: 1rem 0.5rem;
            font-size: 1.2rem;
            font-weight: bold;
            border-bottom: 2px solid rgba(255, 255, 255, .8);
        }
        /* Botón para el buscador */
        #formBusc > button {
            border: none;
            border-radius: 0 1rem 1rem 0;
            height: 2rem;
            width: 10%;
            cursor: pointer;
        }
    .herUsu {
        width: 15%;
    }
    /* Iconos de herramientas para el usuario */
    .herUsu > div {
        width: 30%;
        background: rgba(255, 255, 255, .8);
        border-radius: 2rem;
        padding: 0.6rem;
        cursor: pointer;
        font-size: 1.4rem;
    }
    /* Imagen que abarca al icono del usuario */
    #iconUsuario > img {
        width: 100%;
        height: 100%;
    }

/* #Header2  */
.header2 {
    position: sticky;
}
.header2 a {
    color: rgba(255, 255, 255, .8);
}

/* Main */
    /* ASIDE */
    aside {
        width: 20%;
        border-radius: 2.2rem;
        background: linear-gradient(#3A0000,#000);
    }
    aside, aside a {
        color: rgba(255, 255, 255, .8);
    }
        .espacio {
            height: 8rem;
            position: relative;
        }
        /* Icono de la imagen */
        .iconUsuAside {
            width: 75%;
            border-radius: 100%;
            position: absolute;
            bottom: 0;
        }
        .iconUsuAside img {
            width: 100%;
            height: 100%;
        }

        /* Texto span del aside */
        aside span {
            text-align: center;
        }
        #nomUsuAside {
            font-size: 1.1rem;
        }

        /* Links del aside */
        aside a {
            padding: 0.4rem 1rem;
            position: relative;
        }
        aside a:hover {
            border-left: 0.4rem solid #001A5F;
            background: #444;
            left: -2rem;
            border-radius: 0rem 0.4rem 0.4rem 0rem;
        }
    
    /* Section */
    #infoPanel select{
        position: absolute;
        z-index: 10;
        left: 0.5rem;
        top: 1.8rem;
        border: none;
    }
    section {
        width: 79%;
    }
    h2 {
        color: rgba(255, 255, 255, .8);
        font-size: 1.6rem;
    }
    /* Filtros */
        .filtros select, .filtros button {
            color: rgba(255, 255, 255, .8);
        }
        .filtros select {
            border-radius: 0rem 0rem 1rem 1rem;
            padding: 0.4rem 0.6rem;
            overflow: hidden;
            overflow-y: auto;
            outline: none;
            display: none;
        }
        .filtros button {
            background: linear-gradient(#3A0000 35%,#000);
            border: none;
            padding: 0.4rem 0.8rem;
            border-radius: 1rem;
            position: relative;
            z-index: 20;
            cursor: pointer;
        }
        .filtros > div {
            position: relative;
        }
        /* Filtro por botón */
        #geneInfoPanel:hover > #genero, #duraMInfoPanel:hover > #duraM, #duraCInfoPanel:hover > #duraC, #demogInfoPanel:hover > #demografia {
            display: block;
        }
        select option:hover {
            background: rgba(255, 255, 255, .8);
            color: #000;
        }
    /* Portadas de Anime */
    .agreAni {
        background: #717171;
        color: rgba(255, 255, 255, .8);
        font-size: 4rem;
    }
    .agreAni:hover {
        color: #717171;
        background: rgba(255, 255, 255, .8);
    }
    .agreAni:hover > span {
        transform: scale(1.5);
    }
    .agreAni, .portadaA {
        width: 9rem;
        height: 12rem;
        border-radius: 0.4rem;
        overflow: hidden;
    }
    .portadaA {
        position: relative;
    }
    .anime {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .anime > img {
        width: 100%;
        height: 100%;
    }
    .anime > span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, .8);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .anime:hover > span {
        background: #000;
        color: #fff;
        white-space: normal;
    }
    .eliminarA {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        color: rgba(255, 255, 255, .8);
        padding: 0.6rem;
        border-radius: 0rem 0rem 0rem 0.4rem;
        cursor: pointer;
    } 
    .eliminarA:hover {
        background: #600;
        color: #fff;
    }
    .eliminarA:hover > span {
        transform: scale(1.2);
    }
    
    /* Bordes */
    .panelControl, .iconUsuAside {
        border: 0.5rem solid #000;
    }