/* Main de los portales */
.main-portal{
    background: linear-gradient(135deg, var(--color2) 25%, var(--color1) 75%);
    height: 100vh;
}
.container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    padding: 4rem;
}

.rol {
    border-radius: 2rem;
    color: var(--texto1);
    width: 18%;
    min-width: 230px;
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.8s ease-in-out;
    box-shadow: 0rem 0.4rem 0.8rem 0 rgba(0,0,0,.2), 0 0.8rem 1.5rem 0 rgba(0,0,0,.19);
}
.rol:hover {
    transform: rotateY(360deg);
}
/* Color por rol */

.editor {
    background: linear-gradient(-24deg, var(--color2) 22%, var(--color1) 70%);
}
.espectador {
    background: linear-gradient(-24deg, var(--color2) 22%, #063804 70%);
}

.logoRol {
    border: .5rem solid var(--texto1);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.titRol {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.titRol, .descRol {
    text-align: center;
    display: block;
}
