.rol {
    border-radius: 2rem;
    width: 18%;
    min-width: 230px;
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.8s ease-in-out;
}
.rol:hover {
    transform: rotateY(360deg);
}

.logoRol {
    border-width: .5rem;
    border-style: solid;
    border-radius: 100%;
    font-size: 4rem;
    padding: 1.6rem;
}

.titRol {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.titRol, .descRol {
    text-align: center;
    display: block;
}
